---
import SpeedInsights from '@vercel/speed-insights/astro';
import Base from "@layouts/base.astro"
import Button from "@components/Button/button.astro"
---

<Base title="Huzaifa Syed" className="overflow-hidden">
    <main>      
        <section id="hero" class="flex justify-center space-y-12">
            <div>
                <header>
                    <h1 class="font-semibold text-primary text-5xl p-2">Huzaifa Syed</h1>
                    <h2 class="font-semibold text-secondary text-2xl py-1">
                        <span id="typewriter"></span>
                        <span class="cursor inline-flex rounded-sm w-[4px] h-6 bg-blue-600"></span>
                        <script>
                            import { typewriter } from "../scripts/typewriter";
                            document.addEventListener("DOMContentLoaded", () => {
                                typewriter("Full Stack Developer ", "Developer", 100);
                            });
                        </script>
                    </h2>
                </header>
            </div>      
        </section>
        
        <section id="homerow-buttons" class="flex flex-col md:flex-row md:justify-center mt-8 space-y-4 md:space-y-0 md:space-x-9">
            <div class="py-2">
                <Button href="" target="" label="About-Me" size="sm" className="btn w-full">
                    <svg
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                    role="img"
                    class="mr-4 iconify iconify--feather" 
                    width="1em"
                    preserveAspectRatio="xMidYMid meet"
                    viewBox="0 0 24 24"
                    >
                    <path
                    fill="none"
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 20h9M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1l1-4z"
                    ></path>
                    </svg>
                </Button>
            </div>

            <div class="py-2">
                <Button href="" target="" label="Projects" size="sm" className="btn w-full">
                    <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    aria-hidden="true" 
                    role="img" 
                    class="mr-4 iconify iconify--feather" 
                    width="1em" 
                    preserveAspectRatio="xMidYMid meet" 
                    viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <rect width="13" height="13" x="9" y="9" rx="2" ry="2"></rect>
                    <path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></g></svg>
                </Button>
            </div>

            <div class="py-2">
                <Button href="" target="_blank" label="Socials" size="sm" className="btn w-full">
                    <svg 
                    xmlns="http://www.w3.org/2000/svg" 
                    xmlns:xlink="http://www.w3.org/1999/xlink" 
                    aria-hidden="true" 
                    role="img" 
                    class="mr-3 iconify iconify--feather" 
                    width="1em" height="1em" 
                    preserveAspectRatio="xMidYMid meet" 
                    viewBox="0 0 24 24">
                    <g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"></path>
                    <path d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"></path></g>
                    </svg>
                </Button>
            </div>

            <script>
                import { buttonDelay } from "src/scripts/button-delay";
                document.addEventListener("DOMContentLoaded", buttonDelay)
            </script>
        </section>
    </main>

    <section class="flex fixed pb-4 bottom-0 left-0 w-full h-8 justify-center items-center">
        <div>
            <footer>
                <p class="not-italic font-medium text-secondary text-xs leading-5 p-4">© Huzaifa Syed</p>
            </footer>
        </div>
    </section>
</Base>

<SpeedInsights/> <!-- speed insights for vercel -->
        