---
import BaseLayout from "../layouts/BaseLayout.astro"
---

<BaseLayout title="Huzaifa - Home">
    <main>  
        <section id="hero">
            <div>
				<header>
					<h1 id="title" class="font-semibold not-italic text-primary text-9xl p-4">Hey 👋 I'm Huzaifa ─ an engineer</h1>
                    <h2 id="description" class="font-semibold not-italic text-secondary 
                    text-7xl py-16">Coding my way through life one bug at a time.</h2>
				</header>
            </div>  
        </section>
    </main>

    <section class="flex fixed pb-20 bottom-0 left-0 w-full h-16 justify-center items-center">
        <div>
            <footer>
                <p id="copyright" class="not-italic font-medium text-secondary text-5xl leading-5 p-4">© 2024</p>
            </footer>
        </div>
    </section>
</BaseLayout>
