---

---

<html lang="en">

<head>
    <meta charset="utf-8" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
    <title>Huzaifa Syed</title>
</head>

<body>
    <main>
        <section class="header">
            <div>
				<header>
					<h1 class="title">Hey 👋 I'm Huzaifa ─ an engineer</h1>
                <h2 class="description">Coding my way through life one bug at a time.</h2>
				</header>
            </div>
        </section>
    </main>

    <section class="footer">
        <div>
            <footer>
                <p class="copyright-tag">© 2024</p>
            </footer>
        </div>
    </section>
</body>

</html>
