---
import "../styles/global.css";
import "../styles/intro.css";
import '@fontsource/space-grotesk'
---

<div id="intro-overlay">
    <p class="intro-text font-sans font-semibold text-primary text-4">print(" Hey there! 👋 ")</p>
</div>

<script>
    import { playIntro } from "../scripts/intro"
    playIntro();
</script>
